
<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search by title, author or content..."
    #inputText
    (input)="searchInputClearHandler(inputText.value.trim().length == 0)"
  />
  <button
    class="btn btn-outline-info"
    type="button"
    id="button-addon2"
    (click)="searchHandler(inputText.value.trim())"
  >
    <i class="bi bi-search"></i>
    Search
  </button>
</div>

<div *ngIf="blogs && blogs.length > 0">
  <app-blog-preview *ngFor="let blog of blogs" [blog]="blog"></app-blog-preview>
</div>

<div *ngIf="!blogs || blogs.length == 0">
  
  <div class="alert alert-warning" role="alert">
    No Content...
  </div>
</div>

