<div
  *ngIf="blog"
  [ngClass]="{
    'border-success': blog.upvote > blog.downvote,
    'border-danger': blog.upvote <= blog.downvote
  }"
  class="card my-3"
>
  <div class="card-body">
    <h5 class="card-title">{{ blog.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <i class="bi bi-person"></i> {{ blog.author }}
      <i class="bi bi-calendar"></i> {{ blog.date.split('.')[0] }}
    </h6>
    <p class="card-text">
      {{ blog.content }}
    </p>
    <h4 class="card-subtitle mb-2 text-muted">
      {{ blog.upvote }}
      <i
        (click)="thumbsUpHandler()"
        [ngClass]="{
          'bi bi-hand-thumbs-up-fill': blog.userVote == 1,
          'bi bi-hand-thumbs-up': blog.userVote < 1
        }"
        style="cursor: pointer"
      ></i>
      <span class="mx-2"></span>
      {{ blog.downvote }}
      <i
        (click)="thumbsDownHandler()"
        [ngClass]="{
          'bi bi-hand-thumbs-down-fill': blog.userVote == -1,
          'bi bi-hand-thumbs-down': blog.userVote > -1
        }"
        style="cursor: pointer"
      ></i>
    </h4>
  </div>
</div>

<div *ngIf="!blog">
  <div class="alert alert-danger" role="alert"> no blog with this id: {{ id }} </div>
  <svg xmlns="http://www.w3.org/2000/svg" width="30%" height="30%" fill="red" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
  </svg>
</div>

